site_name: hyperlane-ops
site_description: Hyperlane architecture and deployment guides for Celestia

repo_name: celestiaorg/hyperlane-ops
repo_url: https://github.com/celestiaorg/hyperlane-ops

theme:
  name: material
  palette:
    scheme: slate
    primary: deep purple
  icon:
    repo: fontawesome/brands/git-alt
  features:
    - navigation.sections
    - navigation.tracking
    - content.code.copy

markdown_extensions:
  - admonition
  - tables
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight
  - pymdownx.inlinehilite

plugins:
  - search

extra_javascript:
  - https://unpkg.com/beautiful-mermaid@0.1.3/dist/beautiful-mermaid.browser.global.js
  - js/beautiful-mermaid-init.js

extra_css:
  - stylesheets/extra.css

nav:
  - Overview: index.md
  - Getting Started: getting-started.md
  - Core Deployments:
      - New chain Onboarding: celestia-connection-onboarding.md
      - Celestia: celestia-core-deploy.md
      - EVM: evm-core-deploy.md
      - Multisig ISM: multisig-ism.md
  - Warp Routes: warp-routes.md
  - Mocha:
      - Testnet Deployments: testnet-deployments.md
  - Relayer: relayer.md
  - Solidity Tooling:
      - HypNativeMinter: solidity-hypnativeminter.md
