site_name: hyperlane-ops
site_description: Hyperlane architecture and deployment guides for Celestia

theme:
  name: material
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.sections
    - navigation.tracking
    - content.code.copy

markdown_extensions:
  - admonition
  - tables
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite

plugins:
  - search

nav:
  - Overview: index.md
  - Getting Started: getting-started.md
  - Core Deployments:
      - EVM Core Deployment: core-deployment-evm.md
      - Celestia Deployment: core-deployment-celestia.md
      - Celestia Connection Onboarding: celestia-connection-onboarding.md
      - Multisig ISM: multisig-ism.md
  - Warp Routes: warp-routes.md
  - Mocha:
      - Testnet Deployments: testnet-deployments.md
  - Relayer: relayer.md
  - Solidity Tooling:
      - HypNativeMinter: solidity-hypnativeminter.md
